.Hospital{
    background-color: #b3d0ff;
    background-color: #0c3069;
    background-image: linear-gradient(223deg, rgba(0, 13, 48, 0.9),rgba(78, 0, 0, 0.8))
    ,url(../../public/images/SecretariaSalud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 0px;
}

.header__hospital{
    display: flex;
    padding: .5em 1em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    width: 95%;
    margin: auto;
}

.header__hospital > img{
    width: 75px;
    background-color: white;
    padding: .2em;
    border-radius: 50%;
}

.Hospital > p{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-align: center;
    margin: 1em 0;
}

.Hospital > p > span{
    text-transform: uppercase;
}

.form{
    display: block;
    width: 95%;
    margin: auto;
    height: 4500px;
    border-radius: 20px;
    
}

.form-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin-top: 30px;
    color: white;
}

.table-data{
    display: block;
    width: 90%;
    height: 700px;
    border-radius: 20px;
}



.menu__Hospital{
    background-color: transparent;
    cursor: pointer;
    transition: transform ease-in .1s;
}

.menu__Hospital > span{
    font-size: 2.5em;
    color: white;
    transition: color ease-in .1s;

}

.menu__Hospital:hover {
    transform: scale(.85);
}

.menu__Hospital:hover > span{
    color: rgba(255, 255, 255, .8);

}

.Form-NoDisp{
    background-color: rgb(0, 34, 128);
    background-image: linear-gradient(223deg, rgba(0, 13, 48, 0.9),rgba(78, 0, 0, 0.8))
    ,url(../../public/images/SecretariaSalud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.text__Form-NoDisp{
    font-size: 1.5em;
    color: white;
}

.btn__Form-NoDisp{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 15px;
}

.text-btn__Form-NoDisp{
    display: block;
    color: white;
    font-size: 1.5em;
    padding: .5em 3em;

}

.estadisticas-button{
    display: block;
    margin: auto;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px 20px ;
    border-radius: 7px;
    font-size: 1.2em;
    border: 1px solid white;
    transition:background-color ease-in-out .2s ;
}

.estadisticas-button:hover{
    background-color: #051b3d98;
}

@media screen and (min-width:1100px){

    .Hospital > p{
        font-size: 1.8em;
    }
    
    .form{
        width: 55%;

    }

    .header__hospital{
        width: 60%;
        padding: .8em 3em;
    }

}