:root {
  --background-body: #202b38;
  --background: #161f27;
  --background-alt: #1a242f;
  --selection: #1c76c5;
  --text-main: #dbdbdb;
  --text-bright: #fff;
  --text-muted: #a9b1ba;
  --links: #41adff;
  --focus: #0096bfab;
  --border: #526980;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-base: #0c151c;
  --button-hover: #040a0f;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: rgb(0, 0, 0);
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}

.Hospitales{
    background-image: linear-gradient(223deg, rgba(0, 13, 48, 0.9),rgba(78, 0, 0, 0.8))
    ,url(../../public/images/SecretariaSalud.jpg);
    background-color: rgb(0, 34, 128);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--background-body);
}


.titulo__Hospitales{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.titulo__Hospitales > h1{
    text-transform: uppercase;
    color: white;
}

.titulo__Hospitales > img{
    height: 75px;
    width: 75px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 50%;
    padding: .2em;
}

.Hospitales > p{
    text-align: center;
    font-size: .8em;
    color: rgb(207, 207, 207);
    margin-bottom: 20px;
}

.lista__Hospitales{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 3em 0 0;
    padding-bottom: 3em;
}

.lista__Hospitales > p{
    text-align: center;
    text-transform: uppercase;
    color: white;
}


/* buttons HOME */

.Home{
    padding: 1em 0;
}

.ul__Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 90%;
    margin: auto;
}

.li__Home{
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 100%;
    gap: .7em;
}

.li__Home > .share__Home{
    background-color: transparent;
    color: white;
    font-weight: 100;
    font-size: 1.1em;
    transition: color ease-in-out .2s;
}

.btn-hospitales__Home{
    width: 100%;
    background-color: rgb(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, 0.452);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color ease-in-out .2s;
}

.text-btn__Home{
    display: block;
    color: white;
    font-size: 1.2em;
    padding: .8em;
    width: 100%;
    transition: transform ease-in-out .15s;

}

.btn-hospitales__Home:hover{
    background-color: rgb(255, 255, 255, .2);


}

.btn-hospitales__Home:hover > .text-btn__Home{
    transform: scale(1.1);
}

.share__Home:hover{
    cursor: pointer;
    color: rgb(255, 255, 255, .5);

}




@media screen and (min-width:1100px) {

    .titulo__Hospitales{
        padding: 3em 1em 1em;
    }

    .titulo__Hospitales > img{
        width: 100px;
        height: 100px;
    }

    .titulo__Hospitales > h1{
        font-size: 3.2em;
    }

    .Hospitales > p, .lista__Hospitales > p{
        font-size: 1.2em;
    }
    
    
    .ul__Home{
        width: 50%;
    }
}